.book {
    width: 98.5%;
    border-radius: 3px;   
    display: flex;
    height: 175px;
    flex-wrap: wrap;
    margin: 10px;
    background-color: rgb(245, 245, 245);
}

.cover img {
    width: 125px;
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.information {
    width: 80%;
    margin: 5px;
    .name {
        font-size: 20px;
        &:hover {
            text-decoration: underline;
        }
    }
    .plot {
        
    }
    .author {
        color: gray;
        text-decoration: underline;
    }
}